// Media query for mobile 
@media only screen and (max-width: 767px) {

    .os-dual-form {
        margin-top: 22px;
        width: 100% !important;
        flex-direction: column;
       .row{
        flex-wrap: nowrap;
       }

        &[auth-mode="signup"] {
            .right {
                display: none;
            }
            form#login {
                display: none;
            }
        }

        &[auth-mode="login"] {
            .left {
                display: none;
            }
            form#signup {
                display: none;
            }
        }

        .cover {
            display: none;
        }

        form {
            width: 100%;
            height: 80vh;
            label {
                margin-top: 10px;
                .text {
                    // transform: translate(8px, 17px);
                }
            }
        }
    }

    .row {
        // flex-direction: column;
    }

    .mobile-view {
        display: block !important
    }

    .password-strength {
        width: 91% !important;
    }
}