markdown-component{
    width: fit-content;
    display: block;
    justify-self: center;
    margin: auto;
    p{
        width: fit-content;
        ul{
            width: fit-content;
        }
    }
}