.contract-received{
    position: relative;
    
    .preview{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 10px;
        position: sticky;
        background: white;
        z-index: 100;
        top:0;
        .user-name{
            font-weight: bold;
        }
    }


    .content{
        display: none;;
        padding: 10px;
        div {
            margin-bottom: 10px;
            white-space: pre-wrap;
        }
    }
    &.reveal {
        border: 1px solid black;
        .content{
            display: block;
        }
    }

    .level-1{
        padding-left: 50px;
    }
}